<div class="top-bar">
  <div class="language-menu">
    <select>
      <option value="op1">PT-BR</option>
      <option value="op2">ES</option>
      <option value="op3">EN</option>
    </select>
  </div>
  <div class="page-menu">
    <app-button-page link="/home" label="HOME"></app-button-page>
    <app-button-page link="/about-me" label="ABOUT ME"></app-button-page>
    <app-button-page link="/academic" label="ACADEMIC"></app-button-page>
    <app-button-page link="/projects" label="PROJECTS"></app-button-page>
  </div>
</div>
