<div class="bottom-bar">
  <div class="rights-reserved">
    <i class="fa-regular fa-copyright fa-xl" style="color: #000000;"></i>
    <p>All rights reserved</p>
  </div>
  <div class="icons">
    <a href="https://www.github.com/Danichs" target="_blank" class="c_link">
      <i class="fa-brands fa-github fa-2xl" style="color: #000000;"></i>
    </a>
    <a href="https://www.instagram.com/joao.vdan/" target="_blank" class="c_link">
      <i class="fa-brands fa-instagram fa-2xl" style="color: #000000;"></i>
    </a>
    <a href="mailto:jaovdac@gmail.com" target="_blank" class="c_link">
      <i class="fa-regular fa-envelope fa-2xl" style="color: #000000;"></i>
    </a>
  </div>
</div>
