<div class="tbar">
  <app-top-bar></app-top-bar>
</div>
  <br>
<div class="content">
  <div class="buttons">
    <button class="button-alternation">Angular</button>
    <button class="button-alternation2">C/C++</button>
    <button class="button-alternation3">Java</button>
    <button class="button-alternation4">C#</button>
    <button class="button-alternation5">Python</button>
  </div>
  <div class="textbox">
    <h1>PROJETOS</h1>
  </div>
  <div class="texttwo">
  </div>
</div>
  <br>
<div class="lbar">
  <app-bottom-bar></app-bottom-bar>
</div>
