button {
  height: 50px;
  width: 100px;
  border: none;
  outline: none;
  color: #FCFCFF;
  background-color: transparent;
  text-align: center;
  font-size: 15px;
  border-right: 2px solid white;
}